﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Zalicz.Mimuw.Models.Task.CreateTaskViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{ ViewData["Title"] = Localizer["New task"].Value; }

@{ var placeholderText = SharedLocalizer["ContentPlaceholder"].Value; }

<h4>@Localizer["Create a new task"]</h4>
<hr/>

<form asp-action="CreateTask" asp-controller="Task" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-xl-auto">
            <label for="course-select" asp-for="CourseValue"></label>
            <select id="course-select" class="form-control"
                    asp-for="CourseValue" asp-items="Model.Courses" onchange="populateTasksetList($(this), $('#taskset-select'))">
            </select>
        </div>
        <div class="form-group col-xl-auto">
            <label for="taskset-select" asp-for="TasksetValue"></label>
            <select id="taskset-select" class="form-control"
                    asp-for="TasksetValue">
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-auto">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea id="content-textarea" asp-for="Content" class="form-control" rows="16" placeholder="@placeholderText">
        </textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="@SharedLocalizer["Create"]" class="btn btn-dark"/>
    </div>
</form>
<hr/>

<h5>@SharedLocalizer["Preview"]</h5>
<div id="task-preview" class="task">

</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            populateTasksetList($('#course-select'), $('#taskset-select'));
            setPreview($('#task-preview'), $('#content-textarea'));
        })
    </script>
}