﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Zalicz.Mimuw.Models.Task.EditTaskViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{ ViewData["Title"] = Localizer["Edit task"].Value; }

<h4>@Localizer["Edit a task"]</h4>
<hr/>

<label asp-for="OriginalContent"></label>
<div id="original-task" class="task">
    @await Component.InvokeAsync("HtmlContentRender", Model.OriginalContent)
</div>
<hr/>

<form asp-action="EditTask">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-sm-auto">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled readonly class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <input asp-for="OriginalContentVersionId" type="hidden" value="@Model.OriginalContentVersionId" class="form-control"/>
        <input asp-for="OriginalContent" type="hidden" value="@Model.OriginalContent" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea id="content-textarea" asp-for="Content" class="form-control" rows="16">
                </textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-dark"/>
    </div>
</form>
<hr/>

<h5>@SharedLocalizer["Preview"]</h5>
<div id="task-preview" class="task">

</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            setPreview($('#task-preview'), $('#content-textarea'));
        })
    </script>
}