﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Zalicz.Mimuw.Models.Task.TaskViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<div>
    @await Component.InvokeAsync("HtmlContentRender", Model.Content)
</div>

@{ var i = 1; }
@foreach (var solutionViewModel in Model.Solutions)
{
    var divId = $"solution-{i}";

    var type = solutionViewModel.HasNotRejectedNegativeReviews ? "solution-wrong" : "solution";
    var typeBg = $"{type}-bg";
    var typeBtn = solutionViewModel.HasNotRejectedNegativeReviews ? "btn-outline-warning" : "btn-outline-success";

    <div class="card @type">
        <div class="@typeBg" id="@("heading" + divId)">
            <button class="btn @typeBtn" type="button" data-toggle="collapse" data-target="#@divId" aria-expanded="True" aria-controls="@divId">
                <b>@Localizer["Solution"] @i</b>
            </button>
            @if (solutionViewModel.HasNotRejectedNegativeReviews)
            {
                <small class="text-secondary" style="margin-left: 2%">
                    <i>@Localizer["This solution has negative reviews and may be incorrect."]</i>
                </small>
            }
            <div style="float: right; margin-right: 10px; margin-top: 5px">
                <span class="octicon"></span>
                <img src="lib/octicons/build/svg/verified.svg" alt="@Localizer["Upvote"]"/>
                <b id="@($"solution-{solutionViewModel.Id}-upvote-count")" class="text-success">
                    @solutionViewModel.Upvotes
                </b>
            </div>

            <div id="@divId" class="collapse" aria-labelledby="@divId">
                <div class="card-body">
                    @await Component.InvokeAsync("Solution", solutionViewModel)
                </div>
            </div>
        </div>
    </div>

    ++i;
}
<hr/>

<footer>
    <div id="task-@Model.Id-buttons" style="float: right; margin-bottom: 1%; margin-left: 1%">
        @Html.ActionLink(Localizer["Add a solution"].Value, "CreateSolution", "Solution", new {taskId = Model.Id}, new {@class = "btn btn-outline-success"})
        @Html.ActionLink(SharedLocalizer["Edit"].Value, "EditTask", "Task", new {taskId = Model.Id}, new {@class = "btn btn-outline-dark"})
    </div>
</footer>