﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Zalicz.Mimuw.Models.NegativeReview.NegativeReviewViewModel
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<div>
    @await Component.InvokeAsync("HtmlContentRender", Model.Content)
</div>
<hr/>

<footer>
    <div id="negative-review-@Model.Id-buttons" style="float: right; margin-bottom: 1%; margin-left: 1%">
        @Html.ActionLink(SharedLocalizer["Edit"].Value,
            "EditNegativeReview",
            "NegativeReview",
            new {negativeReviewId = Model.Id},
            new {@class = "btn btn-outline-dark"})
    </div>
</footer>