﻿code[class*="language-"],
pre[class*="language-"] {
    -moz-hyphens: none;
    -moz-tab-size: 4;
    -ms-hyphens: none;
    -o-tab-size: 4;
    -webkit-hyphens: none;
    background: none;
    color: darkslategrey;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    hyphens: none;

    line-height: 1.5;
    tab-size: 4;
    text-align: left;

    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

/* Code blocks */

pre[class*="language-"] {
    margin: .5em 0;
    overflow: auto;
    padding: 1em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #FCFCFC;
    border: slategrey groove;
    border-width: 1px;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
    border-radius: .3em;
    padding: .1em;
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata { color: darkmagenta; }

.token.punctuation { color: darkslategrey; }

.token.function-name { color: #6196cc; }

.token.function { color: coral }

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted
.token.property,
.token.class-name,
.token.constant,
.token.symbol { color: #f8c555; }

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin { color: royalblue; }

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable { color: green; }

.token.boolean,
.token.number,
.token.operator,
.token.entity,
.token.url { color: crimson; }

.token.important,
.token.bold { font-weight: bold; }

.token.italic { font-style: italic; }

.token.entity { cursor: help; }

.token.inserted { color: darkmagenta; }