﻿.task-bg, .task { background-color: #F5F5F5; }

.solution-bg, .solution { background-color: #E0EAE5; }

.solution-wrong-bg, .solution-wrong { background-color: #FAEBD7; }

.negative-review-bg, .negative-review { background-color: #EFD4D1; }

.negative-review-rejected-bg, .negative-review-rejected { background-color: #708090; }

.task, .solution, .solution-wrong, .negative-review, .negative-review-rejected {
    border: 3px groove;
    border-radius: 3px;
    padding: 5px;
}

.task { border-color: #C0C0C0; }

.solution { border-color: #3CB371; }

.btn-outline-success {
    border-color: #3CB371;
    color: #1C9351;
}

.btn-outline-success:hover {
    background-color: #3CB371;
    border-color: #3CB371;
}

.btn-outline-success:active, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(69, 188, 122, 0.5) !important; /* #45BC7A */
}

.btn-outline-success:active {
    background-color: #4CC391 !important;
    border-color: #4CC391 !important;
}

.solution-wrong { border-color: #F4A460; }

.btn-outline-warning {
    border-color: #F4A460;
    color: #A0522D;
}

.btn-outline-warning:hover {
    background-color: #F4A460;
    border-color: #F4A460;
}

.btn-outline-warning:active, .btn-outline-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(253, 173, 105, 0.5) !important; /* #FDAD69 */
}

.btn-outline-warning:active {
    background-color: #FFB480 !important;
    border-color: #FFB480 !important;
}

.negative-review { border-color: #B24242; }


.btn-outline-danger {
    border-color: #B24242;
    color: #820202;
}

.btn-outline-danger:hover {
    background-color: #B24242;
    border-color: #B24242;
}

.btn-outline-danger:active, .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(137, 33, 33, 0.5) !important; /* #BB2B2B */
}

.btn-outline-danger:active {
    background-color: #B24242 !important;
    border-color: #B24242 !important;
}

.alert-danger {
    background-color: #EFD4D1;
    border: solid 1px;
    border-color: #B24242;
    border-radius: 3px;
    color: #820202;
    padding: 2px;
}

.negative-review-rejected { border-color: #DB7093; }