﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Zalicz.Mimuw.Models.Solution.CreateSolutionViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{ ViewData["Title"] = Localizer["New solution"].Value; }

@{ var placeholderText = SharedLocalizer["ContentPlaceholder"].Value; }

<h4>@Localizer["Add a solution"]</h4>
<hr/>

<label asp-for="TaskContent"></label>
<div id="task" class="task">
    @await Component.InvokeAsync("HtmlContentRender", Model.TaskContent)
</div>
<hr/>

<form asp-action="CreateSolution" asp-controller="Solution" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea id="content-textarea" asp-for="Content" class="form-control" rows="16" placeholder="@placeholderText">
                </textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group" hidden>
        <input asp-for="TaskId" type="hidden" value="@Model.TaskId"/>
    </div>
    <div class="form-group">
        <input type="submit" value="@SharedLocalizer["Create"]" class="btn btn-dark"/>
    </div>
</form>
<hr/>

<h5>@SharedLocalizer["Preview"]</h5>
<div id="solution-preview" class="solution">

</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            renderMathInElement($('#task'));
            setPreview($('#solution-preview'), $('#content-textarea'));
        });
    </script>
}