﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Zalicz.Mimuw.Models.Solution.EditSolutionViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{ ViewData["Title"] = Localizer["Edit solution"].Value; }

<h4>@Localizer["Edit a solution"]</h4>
<hr/>

<label asp-for="TaskContent"></label>
<div id="task" class="task">
    @await Component.InvokeAsync("HtmlContentRender", Model.TaskContent)
    <hr/>

    <label asp-for="OriginalContent"></label>
    <div id="original-solution" class="solution">
        @await Component.InvokeAsync("HtmlContentRender", Model.OriginalContent)
    </div>
</div>
<hr/>

<form asp-action="EditSolution">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="OriginalContentVersionId" type="hidden" value="@Model.OriginalContentVersionId" class="form-control"/>
        <input asp-for="OriginalContent" type="hidden" value="@Model.OriginalContent" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea id="content-textarea" asp-for="Content" class="form-control" rows="16">
                </textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-dark"/>
    </div>
</form>
<hr/>

<h5>@SharedLocalizer["Preview"]</h5>
<div id="solution-preview" class="solution">

</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            setPreview($('#solution-preview'), $('#content-textarea'));
        })
    </script>
}