﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Zalicz.Mimuw.Models.Search.SearchViewModel
@inject IViewLocalizer Localizer

<div class="task">
    <form id="search-form"
          asp-controller="Search" asp-action="SearchTasks"
          data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace-with" data-ajax-update="#results"
          data-ajax-failure="renderErrorResponse($(xhr.responseText), $('#results'));">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="course-select" asp-for="CourseShortName"></label>
                <select id="course-select" class="form-control"
                        asp-for="CourseShortName" asp-items="Model.Courses" onchange="populateTasksetList($(this), $('#taskset-select'))"></select>
                <span asp-validation-for="CourseShortName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="taskset-select" asp-for="TasksetNameAndYear"></label>
                <select id="taskset-select" class="form-control"
                        asp-for="TasksetNameAndYear"></select>
                <span asp-validation-for="TasksetNameAndYear" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-check">
                    <input id="require-solution-input" class="form-check-input"
                           asp-for="RequireSolution" type="checkbox"/>
                    <label for="require-solution-input" asp-for="RequireSolution" class="form-check-label"></label>
                </div>
            </div>
        </div>
        <div style="padding-top: 1%">
            <button id="search-form-submit-btn" class="btn btn-dark" type="submit">Zalicz!</button>
            <div id="create-dropdown" class="dropdown" style="float: right">
                <button id="create-button" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Localizer["Create new"]
                </button>
                <div class="dropdown-menu" aria-labelledby="create-button">
                    <a class="dropdown-item" asp-action="CreateCourse" asp-controller="Course">@Localizer["Course"]</a>
                    <a class="dropdown-item" asp-action="CreateTaskset" asp-controller="Taskset">@Localizer["Taskset"]</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="results-parent">
    <div id="results-loader" style="display: none">
        <img src="~/images/loader-200px.svg" class="d-block mx-auto img-fluid" style="max-width: 200px" alt="Loading..."/>
    </div>
    <div id="results"></div>
</div>
<hr/>

<div id="create-task">
    <form asp-action="CreateTask" asp-controller="Task" method="get">
        <button id="create-task-button" class="btn btn-secondary btn-lg btn-block" style="height: 100px;", type="submit">
            @Localizer["Add a task"]
        </button>
    </form>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            populateTasksetList($('#course-select'), $('#taskset-select'));
        });
        // The populateTasksetList script has global set to false, so it will not trigger the loader, only the Search form will.
        $(document).ajaxStart(function() {
            $('#results').html('');
            $('#results-loader').show();
        });
        $(document).ajaxStop(function() {
            $('#results-loader').hide();
        });
    </script>
}