﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="results" style="border: groove; border-width: 3px;" class="alert-secondary border-secondary table-bordered">
    <h3 class="text-xl-center" style="padding: 30px">
        @Localizer["No tasks matching your search criteria."]
    </h3>
</div>