﻿@model IEnumerable<Zalicz.Mimuw.Models.Task.TaskViewModel>

<div id="results">
    <div class="accordion" id="tasks-parent">
        @{ var i = 1; }
        @foreach (var taskViewModel in Model)
        {
            var divId = $"task-{i}";

            <div id="@("card-" + divId)"class="card task">
                <div class="task-bg" id="@("heading-" + divId)">
                    <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#@divId" aria-expanded="True" aria-controls="@divId">
                        <b>@taskViewModel.Name</b>
                    </button>

                    <div id="@divId" class="collapse" aria-labelledby="@divId" data-parent="#tasks-parent">
                        <div class="card-body task-bg">
                            @await Component.InvokeAsync("Task", taskViewModel)
                        </div>
                    </div>
                </div>
            </div>

            ++i;
        }
    </div>
</div>

@if (Model.Count() == 1)
{
    // This is a fix for Bootstrap deleting the bottom border of the last card _always_, even if it's the only card.
    <script>
        $(document).ready(function() {
            $('#card-task-1').css('border-bottom', $('#card-task-1').css('border-top'));
        });
    </script>
}