﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Zalicz.Mimuw.Models.Solution.SolutionViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<div>
    @await Component.InvokeAsync("HtmlContentRender", Model.Content)
</div>

@{ var i = 1; }
@foreach (var negativeReviewViewModel in Model.NegativeReviews)
{
    var divId = $"negative-review-{i}";

    var type = negativeReviewViewModel.IsRejected ? "negative-review-rejected" : "negative-review";
    var typeBg = $"{type}-bg";

    <div class="card @type">
        <div class="@typeBg" id="@("heading" + divId)">
            <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#@divId" aria-expanded="True" aria-controls="@divId">
                <b>@Localizer["Negative review"] @i</b>
            </button>

            <div id="@divId" class="collapse" aria-labelledby="@divId">
                <div class="card-body">
                    @await Component.InvokeAsync("NegativeReview", negativeReviewViewModel)
                </div>
            </div>
        </div>
    </div>

    ++i;
}
<hr/>

<footer>
    <div id="solution-@Model.Id-buttons" style="float: right; margin-bottom: 1%; margin-left: 1%">
        <button id="upvote-@Model.Id" class="btn btn-outline-success" onclick="submitUpvote(@Model.Id)">
            <span>@Localizer["Approve"]</span>
            <span class="octicon"></span>
            <img src="~/lib/octicons/build/svg/verified.svg" alt="upvote"/>
        </button>
        @Html.ActionLink(Localizer["Add a negative review"].Value, "CreateNegativeReview", "NegativeReview",
            new {solutionId = Model.Id}, new {@class = "btn btn-outline-danger"})
        @Html.ActionLink(SharedLocalizer["Edit"].Value, "EditSolution", "Solution", new {solutionId = Model.Id}, new {@class = "btn btn-outline-dark"})
    </div>
    <b id="upvote-error-alert-@Model.Id" class="alert-danger" style="display: none; float: right;"></b>
</footer>