﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Zalicz.Mimuw.Models.NegativeReview.CreateNegativeReviewViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{ ViewData["Title"] = Localizer["New review"].Value; }

@{ var placeholderText = SharedLocalizer["ContentPlaceholder"].Value; }

<h4>@Localizer["Add a negative review"]</h4>
<hr/>

<label asp-for="TaskContent"></label>
<div id="task" class="task">
    @await Component.InvokeAsync("HtmlContentRender", Model.TaskContent)
    <hr/>
    <label asp-for="SolutionContent"></label>
    <div id="solution" class="solution-wrong">
        @await Component.InvokeAsync("HtmlContentRender", Model.SolutionContent)
    </div>
</div>
<hr/>

<form asp-action="CreateNegativeReview" asp-controller="NegativeReview" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea id="content-textarea" asp-for="Content" class="form-control" rows="16" placeholder="@placeholderText"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group" hidden>
        <input asp-for="SolutionId" type="hidden" value="@Model.SolutionId"/>
    </div>
    <div class="form-group">
        <input type="submit" value="@SharedLocalizer["Create"]" class="btn btn-dark"/>
    </div>
</form>
<hr/>

<h5>@SharedLocalizer["Preview"]</h5>
<div id="negative-review-preview" class="negative-review">

</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            setPreview($('#negative-review-preview'), $('#content-textarea'));
        });
    </script>
}