﻿@model Microsoft.AspNetCore.Html.HtmlString

@{ var guid = Guid.NewGuid(); }

<div id="html-content-@guid">
    @Model
</div>

<script>
    $(document).ready(function() {
        renderMathInElement($('#html-content-@guid'));
        addLineNumbers($('#html-content-@guid'));
        Prism.highlightAllUnder($('#html-content-@guid')[0]);
    });
</script>