﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Zalicz.Mimuw.Models.Course.CreateCourseViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{ ViewData["Title"] = Localizer["New course"].Value; }

<h4>@Localizer["Create a new course"]</h4>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCourse" asp-controller="Course" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShortName"></label>
                <input id="short-name-input" asp-for="ShortName" class="form-control" placeholder="@Localizer["ADS"]" onchange="updateFullName()"/>
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongName"></label>
                <input id="long-name-input" asp-for="LongName" class="form-control" placeholder="@Localizer["Algorithms and data structures"]" onchange="updateFullName()"/>
                <span asp-validation-for="LongName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input id="full-name-input" class="form-control" placeholder="" readonly/>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Create"]" class="btn btn-dark"/>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        function getFullName(shortName, longName) {
            return `[${shortName}] ${longName}`;
        }

        function updateFullName() {
            $('#full-name-input').val(getFullName($('#short-name-input').val(), $('#long-name-input').val()));
        }

        $('#full-name-input').attr('placeholder',
            getFullName($('#short-name-input').attr('placeholder'), $('#long-name-input').attr('placeholder')));
    </script>
}