﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Zalicz.Mimuw.Models.Taskset.CreateTasksetViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{ ViewData["Title"] = Localizer["New taskset"].Value; }

<h4>@Localizer["Create a new taskset for a course"]</h4>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTaskset" asp-controller="Taskset" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="course-select"></label>
                <select id="course-select" class="form-control" asp-for="CourseShortName" asp-items="Model.Courses"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input id="name-input" asp-for="Name" class="form-control" placeholder="@Localizer["Resit"]" onchange="updateFullName()"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input id="year-input" asp-for="Year" class="form-control" type="text" placeholder="2015" value="2015" onchange="updateFullName()"/>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameAndYear"></label>
                <input id="full-name-input" asp-for="NameAndYear" class="form-control" placeholder="" readonly/>
                <span id="full-name-error" asp-validation-for="NameAndYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark"/>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        function getFullName(name, year) {
            return `${name} - ${year}`;
        }

        function updateFullName() {
            $('#full-name-input').val(getFullName($('#name-input').val(), $('#year-input').val()));
            $('#full-name-input').trigger('focusout'); // Triggers validation.
        }

        $('#full-name-input').attr('placeholder',
            getFullName($('#name-input').attr('placeholder'), $('#year-input').attr('placeholder')));
    </script>
}