﻿@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookie-consent" class="navbar navbar-light bg-light fixed-bottom border border-light" role="alert">
        <div class="navbar-expand">
            <p class="navbar-text text-dark">
                @Localizer["This webpage uses cookies, like every other webpage in existence, but GDPR forces me to tell you."]
            </p>
            <div>
                <button type="button" class="btn btn-dark" data-cookie-string="@cookieString">@Localizer["Agree to cookies"]</button>
            </div>
        </div>
    </nav>
    <script>
        document.querySelector("#cookie-consent button[data-cookie-string]").addEventListener("click",
            function(el) {
                document.cookie = el.target.dataset.cookieString;
                $('#cookie-consent').fadeOut(100);
            },
            false);
    </script>
}