﻿@using System.Reflection
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<p>
    <a href="https://gitlab.com/V0ldek/zalicz-mimuw">
        @Localizer["Having issues or willing to contribute? Visit the Zalicz.Mimuw GitLab repository!"]
    </a>
    @{
        var assembly = Assembly.GetEntryAssembly();
        var name = assembly.GetName().Name;
        var version = assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;
    }
    <code class="float-right">
        <small>@name @version</small>
    </code>
</p>