﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Favicon was generated using https://favicon.io -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">

    @{
        var title = "Zalicz.Mimuw";
        var subTitle = ViewData["Title"] as string;
        if (!string.IsNullOrEmpty(subTitle))
        {
            title = $"{title} - {subTitle}";
        }
    }

    <title>@title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/katex/dist/katex.min.css"/>
        <link rel="stylesheet" href="~/lib/prism/plugins/line-numbers/prism-line-numbers.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"
              asp-fallback-href="~/lib/katex/dist/katex.min.css"
              asp-fallback-test-class="katex" asp-fallback-test-property="position" asp-fallback-test-value="relative"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.css"
              asp-fallback-href="~/lib/prism/plugins/line-numbers/prism-line-numbers.min.css"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
    </environment>
</head>
<body>
<partial name="_CookieConsentPartial"/>
<partial name="_TitlePartial"/>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <partial name="_FooterPartial"/>
    </footer>
</div>

<environment include="Development">
    <script src="~/lib/popper.js/dist/umd/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/katex/dist/katex.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/prism/prism.js"></script>
    <script src="~/lib/prism/plugins/line-numbers/prism-line-numbers.js"></script>
    <script src="~/lib/prism/plugins/autoloader/prism-autoloader.js"></script>
    <script src="~/lib/prism/plugins/normalize-whitespace/prism-normalize-whitespace.js"></script>
    <script>
        Prism.plugins.autoloader.languages_path = '/lib/prism/components/';
        Prism.plugins.autoloader.use_minified = 'false';
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            asp-fallback-src="~/lib/popper.js/dist/umd/popper.min.js"
            crossorigin="anonymous"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js"
            asp-fallback-src="~/lib/katex/dist/katex.min.js"
            asp-fallback-test="window.katex.render"
            crossorigin="anonymous"
            integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx"></script>
    <script src="https://unpkg.com/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"
            asp-fallback-src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"
            crossorigin="anonymous"
            integrity="sha384-hpW2z+6vt5klZGNoKgrK+fGNDXlKaaJTq0+GMJNW2RstoJI9gyy8vpNl7rOH8MLF"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            crossorigin="anonymous"
            integrity="sha384-jR1IKAba71QSQwPRf3TY+RAEovSBBqf4Hyp7Txom+SfpO0RCZPgXbINV+5ncw+Ph"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"
            crossorigin="anonymous"
            integrity="sha384-R3vNCHsZ+A2Lo3d5A6XNP7fdQkeswQWTIPfiYwSpEP3YV079R+93YzTeZRah7f/F"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"
            asp-fallback-src="~/lib/prism/prism.min.js"
            crossorigin="anonymous"
            integrity="sha384-qajzvhe+sXWaBJH+q8GX/LMcdUT8nzkN7tecwaAZRf7BByHj5LzcLtArgr5/kdwi"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.js"
            asp-fallback-src="~/lib/prism/plugins/line-numbers/prism-line-numbers.min.js"
            crossorigin="anonymous"
            integrity="sha384-09gnf3hx4laQ0e9kStxRSbgoToT1N/Be+xKqV/lz8afBHJFXxPmPEqFDjY/Awiqz"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/autoloader/prism-autoloader.min.js"
            asp-fallback-src="~/lib/prism/plugins/autoloader/prism-autoloader.min.js"
            crossorigin="anonymous"
            integrity="sha384-QziikBZe75IU5TZ3Q2fYraNq0XkejCU+hf3E6xZcKrvFRBq+jdmosuzs77sDNSru"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"
            asp-fallback-src="~/lib/prism/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"
            crossorigin="anonymous"
            integrity="sha384-vyX7Yu1scfC51El0vtxTD2N7iNxkbA8P0Zaxkdqu/Q5AIOvtyuJxZq0hIYTvAdlT"></script>
    <script>
        Prism.plugins.autoloader.languages_path = '/lib/prism/components/';
        Prism.plugins.autoloader.use_minified = 'true';
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
<script>
    setupAjaxErrorHandler();
</script>
@RenderSection("Scripts", false)
</body>
</html>