﻿<div id="title" class="row align-items-center justify-content-center" style="margin-bottom: 2%; margin-left: 0; margin-right: 0">
    <div align="center" style="max-width: 512px">
        <h1>
            <!-- Logo generated with https://logohub.io -->
            <a asp-controller="Home" asp-action="Search" class="text-dark">
                <img class="img-fluid" style="max-width: 90%" src="~/images/logo.png" alt="Zalicz.Mimuw"/>
            </a>
        </h1>
    </div>
</div>