﻿@using System.Net
@using Microsoft.AspNetCore.Mvc.Localization
@model ErrorViewModel
@inject IViewLocalizer Localizer

@{ ViewData["Title"] = Localizer["Error"].Value; }

<div id="error-body">
    <h1 class="text-danger">@Localizer["Error."]</h1>
    <h2 class="text-danger">@Localizer["An error occurred while processing your request."]</h2>

    <h3 class="text-danger">
        @{ var code = (int) Model.StatusCode; }
        @{ var message = Model.StatusCode == HttpStatusCode.InternalServerError ? $" - {Localizer["Administrators have been notified about the error."].Value}" : $": {Model.Message}"; }

        @code - @Localizer[Model.StatusCode.ToString()]@message
    </h3>
</div>